asgiref==3.8.1
build==1.2.2.post1
certifi==2025.6.15
charset-normalizer==3.4.2
defusedxml==0.7.1
Django==5.2.3
django-cachalot==2.8.0
django-cors-headers==4.7.0
django-extensions==4.1
django-filter==25.1
django-redis==6.0.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
git-filter-repo==2.47.0
gunicorn==23.0.0
python-dotenv==1.0.1
httpie==3.2.4
idna==3.10
Markdown==3.8.2
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.6.3
mysqlclient==2.2.7
packaging==25.0
Pygments==2.19.2
PyJWT==2.9.0
pyproject_hooks==1.2.0
PySocks==1.7.1
redis==6.2.0
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.0.0
setuptools==80.9.0
sqlparse==0.5.3
urllib3==2.5.0
wheel==0.45.1
